@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-black-1 {
  background-color: #171717;
}

.bg-black-2 {
  background-color: #272727;
}

.bg-black-3 {
  background-color: #202020;
}

.bg-black-4 {
  background-color: #272727;
}

.bg-black-5 {
  background-color: #303030;
}

.text-white-1 {
  color: #bababa;
}

.text-white-2 {
  color: #939393;
}

.text-white-3 {
  color: #737373;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}
